.add-song {
  // border-top: 1px solid #333;
  display: block;
  padding: 0.5em 1em;

  & .fa-plus {
    // color: #EE4503;
    color: #00f280;
    transition: 0.2s all;
    font-size: 2em;
  }

  .add-song-open & .fa-plus {
    transform: rotate(45deg);
    color: #ee4503;
  }
}

.add-song {
  padding: 1em;
  text-align: center;
}

.add-song:hover {
  background: rgba(50, 50, 50, 0.5);
  cursor: pointer;
  text-decoration: none;
}

.add-song.dragover {
  background: white;
  color: black;
}
