.add-song {
  display: block;
  padding: 0.5em 1em;
}

.add-song {
  padding: 1em;
  text-align: center;
}

.add-song:hover {
  background: #333;
  cursor: pointer;
}

.add-song.dragover {
  background: white;
  color: black;
}
