.add-song {
  // background: #222;
  padding: 0.5em 1em;
}

.add-song {
  padding: 1em;
  text-align: center;
}

.add-song:hover {
  background: #333;
  cursor: pointer;
}

.add-song i {
  margin-left: 1em;
}

.add-song.dragover {
  background: white;
  color: black;
}
