.control-bar {
  background-color: rgba(0,0,0,0.5);
  border-top: 1px solid black;
  bottom: 0;
  color: white;
  font-size: 1.3em;
  left: 0;
  padding: 1em;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 10;
}

.control-bar > i {
  cursor: pointer;
  margin-left: 0.7rem;
  margin-right: 0.7rem;
  font-size: 0.8em;
}

.control-bar > i:hover {
  color: #ccc;
}

.control-bar .fa-pause {
  display: none;
}

.control-bar {
  .fa-play, .fa-pause {
    font-size: 1.5em;
    color: #EE4503;
  }
}

.control-bar__random .control-bar {
  .fa-random {
    color: green;
  }
}

.playing .control-bar {
  .fa-pause {
    display: inline-block;
  }

  .fa-play {
    display: none;
  }
}

.control-bar__timecode {
  position: fixed;
  top: 0;
  right: 1em;
  font-size: 2em;

  .control-bar__timecode-active & {
    font-size: 10rem;
    top: 0;
    right: 0;
    width: 100%;
  }
}

#range {
  width: 100%;
  user-select: none;
}
