.control-bar {
  background-color: rgba(0,0,0,0.5);
  border-top: 1px solid black;
  bottom: 0;
  color: white;
  font-size: 1.3em;
  left: 0;
  padding: 1em;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 10;
}

.control-bar > i {
  cursor: pointer;
  margin-left: 1em;
  margin-right: 1em;
}

.control-bar > i:hover {
  color: #ccc;
}

.control-bar .fa-pause {
  display: none;
}

.control-bar {
  .fa-play, .fa-pause {
    font-size: 1.5em;
    color: lime;
  }
}

.playing .control-bar {
  .fa-pause {
    display: inline-block;
  }

  .fa-play {
    display: none;
  }
}
