* {
  box-sizing: border-box;
  -webkit-user-select: none;
}

body {
  background-color: black;
  color: white;
  font-family: 'Anonymous Pro';
  line-height: 1.5;
  min-height: 100vh;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

a {
  color: white;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 1em;
}

input[type='text'] {
  background: transparent;
  color: white;
  padding: 0.5em;
  width: 100%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: white;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: white;
}

input {
  -webkit-user-select: auto;
}

.lite-it-up {
  // background: url("flame_block_e0.gif");
  background-color: transparent;
  background-image: url('coollogo_com-22009629.gif');
  border: none;
  background-size: contain;
  color: transparent;
  font-size: 2rem;
  width: 90vw;
  height: 0;
  padding-top: 17%;
  background-repeat: no-repeat;
}

.litmix {
  min-height: 100vh;
  padding-bottom: 10em;
  transition: border-color 1s;
  border: 3px solid transparent;
  position: relative;
  z-index: 1;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
