body {
  background: #111;
  font-family: "Open Sans";
  color: white;
}

a {
  color: white;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

header {
  display: flex;
  font-size: 1.3em;
  padding: 1em 1em 0;
}

