
header.main-header {
  display: block;
  font-size: 1.3em;

  .main-header__url {
    padding: 0.5em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .container {
    display: block;
    text-align: center;
    padding: 0.5em;
    padding-right: 2em;
    position: absolute;
    right: 0;
    top: 0;

    @media screen and (max-width: 660px) {
      position: static;
      padding: 0.5em;
      padding-top: 0em;
    }
  }

  button#play-mix {
    background: white;
    color: #7E0208;
    display: none;
    border-radius: 100%;
    font-size: 1.8em;
    padding-left: 1em;
    padding-right: 1em;
    border: none;

    @media screen and (max-width: 660px) {
      float: none;
      padding: 0.25em 0.75em;
    }
  }
}

.fa-question {
  position: absolute;
  top: 17px;
  right: 1em;
}

.backdrop {
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  color: #111;
  display: flex;
  font-family: "Press Start 2p";
  font-size: 17vw;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 0;
}

.litmix {
  background: rgba(0,0,0,0.4);
  cursor: none;
  opacity: 0;
  transition: 0.2s opacity;

  &.litmix--active {
    cursor: default;
    opacity: 1;
  }
}

.mix__add-song-prompt {
  // -webkit-filter: blur(20px);
  display: none;
  opacity: 0;
  overflow: hidden;
  padding: 0.5em 0.5em;
  transform-origin: 0% 0%;
  transform: rotateX(90deg);
  transition: all 0.2s;

  .add-song-open & {
    transform: rotateX(0deg);
    // -webkit-filter: blur(0px);
    opacity: 1;
  }
}

.youtube-item {
  padding: 1em;
  border-bottom: 1px solid #222;
  display: flex;
  position: relative;
}

.youtube-item__thumbnail {
  margin-right: 0.5em;
}

.youtube-item__description {
  padding: 0.5em;
  padding-bottom: 2em;
  color: white;
  width: 100%;
}

.youtube-item__actions {
  position: absolute;
  bottom: 10px;
  right: 0px;

  > a {
    margin-right: 15px;
    color: cornflowerblue;
  }
}
