header.main-header {
  display: block;
  padding-bottom: 0.5em;

  button#play-mix {
    background: #55A32A;
    color: white;
    border-radius: 1em;
    font-size: 0.8em;
    padding-left: 1em;
    padding-right: 1em;
    border: none;
    float: right;
  }
}

.backdrop {
  color: black;
  font-size: 28vw;
  font-family: helvetica;
  padding: 0 3rem;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mix__add-song-prompt {
  // -webkit-filter: blur(20px);
  display: none;
  margin-top: 0.5em;
  opacity: 0;
  overflow: hidden;
  padding: 0 0.5em;
  transform-origin: 0% 0%;
  transform: rotateX(90deg);
  transition: all 0.2s;

  .add-song-open & {
    transform: rotateX(0deg);
    // -webkit-filter: blur(0px);
    opacity: 1;
  }
}

.youtube-item {
  padding: 1em;
  border-bottom: 1px solid #222;
  display: flex;
}

.youtube-item__thumbnail {
  margin-right: 0.5em;
}

.youtube-item__description {
  padding: 0.5em;
  padding-bottom: 2em;
  color: #ccc;
  position: relative;
  width: 100%;
}

.youtube-item__actions {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
