.playlist-info {
  margin-left: 0.8em;
}

.playlist-title {
  font-size: 1.4em;
}

.playlist-meta {
  color: #aaa;
  font-size: 0.7em;
  margin-top: 0.5em;
}

.playlist__image {
  img {
    width: 150px;
    height: auto;
  }
}
