.songs {
  padding: 0.1em 0;
}

.song-items {
  display: flex;
  flex-direction: column;
}

.song {
  align-items: center;
  background: #222;
  border-bottom: 1px solid #333;
  display: flex;
  justify-content: flex-start;
  padding: 0.5em 1em;

  .fa-volume-up {
    display: none;
  }

  &.song--playing {
    .fa-volume-up {
      display: block;
    }
  }
}

.song > * {
  margin-right: 1em;
}

.song__play {
  width: 5%;

  .fa-play {
    display: none;
  }
}

.song__title, .song__artist, .song__album {
  width: 30%;
}

.song i {
  color: #ccc;
}

.song__header{
  color: #aaa;
  font-weight: bold;
  font-size: 0.9em;
}

.real-song:hover {
  background: #333;
  cursor: pointer;

  &.song--playing .song__play .fa-play {
    display: none;
  }

  .song__play .fa-play {
    display: block;
  }
}

.song.dragover {
  border-color: violet;
}

.song--playing .song__play .fa-play {
  display: none;
}

.song__actions {
  & > * {
    opacity: 0;
  }

  .real-song:hover & > * {
    opacity: 1;
  }
}
