.songs {
  padding: 0.1em 0;
}

.song-items {
  display: flex;
  flex-direction: column;
}

.song {
  align-items: center;
  border-top: 1px solid #333;
  display: flex;
  justify-content: flex-start;
  padding: 0.5em 1em;
  position: relative;

  .fa-volume-up {
    display: none;
  }

  &.song--playing {
    .fa-volume-up {
      display: block;
    }
  }

  @media screen and (max-width: 660px) {
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5em 2.5em;
  }
}

.song > * {
  margin-right: 1em;
}

.song__play {
  width: 5%;

  .fa-play {
    display: none;
  }

  @media screen and (max-width: 660px) {
    position: absolute;
    top: 50%;
    margin-top: -9px;
    left: 10px;
  }
}

.song__title, .song__artist, .song__album {
  width: 30%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @media screen and (max-width: 660px) {
    width: 90%;
  }
}

.song__artist, .song__album {
  a {
    color: #999;
  }
}

.song i {
  color: #ccc;
}

.song__header{
  border-top: none;
  border-bottom: none;
  color: #aaa;
  font-weight: bold;
  font-size: 0.9em;

  @media screen and (max-width: 660px) {
    display: none;
  }
}

.real-song:hover {
  background: #333;
  cursor: pointer;

  &.song--playing .song__play .fa-play {
    display: none;
  }

  .song__play .fa-play {
    display: block;
  }
}

.song.dragover {
  border-color: violet;
}

.song--playing .song__play .fa-play {
  display: none;
}

.song__actions {
  & > * {
    opacity: 0;
  }

  .real-song:hover & > * {
    opacity: 1;
  }

  @media screen and (max-width: 660px) {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -10px;
  }
}
