@import "normalize";
@import "global";
@import "control-bar";
@import "drop-area";
@import "home";
@import "playlist";
@import "songs";
@import "mix";

* {
  box-sizing: border-box;
}

.litmix {
  background: #222;
  color: white;
  min-height: 100vh;
  padding-bottom: 5em;
  transition: border-color 1s;
  border: 3px solid transparent;

  &.dragover {
    border-color: violet;
  }
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
