<template name="playlist">
  <header class="playlist">
    <div class="playlist__image">
      <img src="https://s-media-cache-ak0.pinimg.com/originals/1a/dd/28/1add28054fcfce2db716535142958947.jpg" />
    </div>
    <div class="playlist-info">
      <div class="playlist-title">
        <a>Sick Mix</a>
      </div>
      <div class="playlist-meta">
        Created by <a>Lee Pender</a>
      </div>
      <div class="playlist-meta">
        3 songs, 12min
      </div>
    </div>
  </header>
</template>
