<template name="song">
  <tr data-id="{{_id}}"
    data-order="{{order}}"
    class="song real-song loaded--{{hasUrl}}"
    data-js="drop"
    draggable="true"
    style="order: {{order}}">
    <td class="song__play">
      <i aria-hidden="true" class="fa fa-play"></i>
      <i aria-hidden="true" class="fa fa-volume-up"></i>
    </td>
    <td class="song__title">
      {{#if title}}
        {{title}}
      {{else}}
        {{fileName}}
      {{/if}}
    </td>
    <td class="song__artist">
      <a>{{artist}}</a>
    </td>
    <td class="song__album">
      <a>{{album}}</a>
    </td>
    <td class="song__actions">
      <a href="{{url}}"><i class="fa fa-download song__download"></i></a>
      <a><i class="fa fa-trash song__remove"></i></a>
    </td>
    {{> progressBar}}
  </tr>
</template>
